.container {
    width: 1200px;
    padding: 30px;
    margin: 0px auto 0 auto;
    border: 1px solid #d9d9d9;
}

.back-button {
    font-size: 20px;
    cursor: pointer;
}

h2 {
    margin-top: 10px;
}

.area-input input[type="text"] {
    width: 100%;
    padding: 8px;
    margin: 15px 0;
    box-sizing: border-box;
}

hr {
    margin: 20px 0;
}

.summary {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.finalize-btn {
    background-color: #e53935;
    color: white;
    border: none;
    padding: 10px 20px;
    font-size: 16px;
    border-radius: 5px;
    cursor: pointer;
}

.finalize-btn:hover {
    background-color: #d32f2f;
}